SEPOLIA_RPC_URL=
PRIVATE_KEY=
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=11155111
HARDHAT_DISABLE_TELEMETRY_PROMPT=true
VITE_DHA_CONTRACT_ADDRESS=
VITE_SEPOLIA_CHAIN_ID=0xaa36a7
VITE_PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs
PINATA_JWT=